<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      href="{{ '/assets/icons/favicon.ico' | url }}"
      rel="icon"
      type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ '/assets/icons/favicon.ico' | url }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/bundle.css' | url }}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <link rel="preload" as="image" href="/assets/img/hero.jpg">
  </head>
  <body>
    {{ content | safe }}
    {% include 'footer.njk' %}
  </body>
</html>
